In [68]:
import pandas as pd

In [69]:
df1 = pd.read_csv('train_data.csv')

In [70]:
df1.head()

   Tier  FICO  Term   Amount  ...  Car_Type_N  Car_Type_R  Car_Type_U  Accept
0     2   725    72  30500.0  ...           0           1           0       0
1     1   739    60  25995.0  ...           0           0           1       0
2     1   781    60  39000.0  ...           1           0           0       0
3     2   718    72  30000.0  ...           1           0           0       1
4     2   703    72  38000.0  ...           0           0           1       0

[5 rows x 13 columns]

In [71]:
df1.shape

(145659, 13)

In [72]:
df1.describe()

                Tier           FICO  ...     Car_Type_U         Accept
count  145659.000000  145659.000000  ...  145659.000000  145659.000000
mean        1.928429     726.695556  ...       0.201320       0.220041
std         1.050519      44.727756  ...       0.400988       0.414276
min         1.000000     594.000000  ...       0.000000       0.000000
25%         1.000000     692.000000  ...       0.000000       0.000000
50%         2.000000     726.000000  ...       0.000000       0.000000
75%         3.000000     762.000000  ...       0.000000       0.000000
max         4.000000     852.000000  ...       1.000000       1.000000

[8 rows x 13 columns]

In [73]:
df1.isnull().sum()

Tier                0
FICO                0
Term                0
Amount              0
Previous_Rate       0
Competition_rate    0
Rate                0
Cost_Funds          0
Partner Bin         0
Car_Type_N          0
Car_Type_R          0
Car_Type_U          0
Accept              0
dtype: int64

In [74]:
df1.dtypes

Tier                  int64
FICO                  int64
Term                  int64
Amount              float64
Previous_Rate         int64
Competition_rate    float64
Rate                float64
Cost_Funds          float64
Partner Bin           int64
Car_Type_N            int64
Car_Type_R            int64
Car_Type_U            int64
Accept                int64
dtype: object

In [75]:
df1['Accept'].value_counts(normalize=True)

0    0.779959
1    0.220041
Name: Accept, dtype: float64

In [76]:
df1.columns

Index(['Tier', 'FICO', 'Term', 'Amount', 'Previous_Rate', 'Competition_rate',
       'Rate', 'Cost_Funds', 'Partner Bin', 'Car_Type_N', 'Car_Type_R',
       'Car_Type_U', 'Accept'],
      dtype='object')

In [49]:
features = ['Tier', 'FICO', 'Term', 'Amount', 'Previous_Rate', 'Competition_rate',
       'Rate', 'Cost_Funds', 'Partner Bin', 'Car_Type_N', 'Car_Type_R',
       'Car_Type_U']

In [50]:
target = ['Accept']

In [77]:
X_train = df1[features]
y_train = df1[target]
print(X_train.shape,y_train.shape)

(145659, 12) (145659, 1)

In [78]:
df2 = pd.read_csv('test_data.csv')

In [79]:
df2.head()

   Tier  FICO  Term   Amount  ...  Car_Type_N  Car_Type_R  Car_Type_U  Accept
0     4   656    60  19600.0  ...           1           0           0       0
1     2   708    60  25921.0  ...           0           1           0       0
2     4   666    60  18542.0  ...           0           0           1       0
3     1   749    48  18000.0  ...           1           0           0       1
4     2   709    60  25000.0  ...           1           0           0       0

[5 rows x 13 columns]

In [80]:
df2.shape

(62426, 13)

In [81]:
df2['Accept'].value_counts(normalize=True)

0    0.779963
1    0.220037
Name: Accept, dtype: float64

In [82]:
print(df1.isnull().sum())

Tier                0
FICO                0
Term                0
Amount              0
Previous_Rate       0
Competition_rate    0
Rate                0
Cost_Funds          0
Partner Bin         0
Car_Type_N          0
Car_Type_R          0
Car_Type_U          0
Accept              0
dtype: int64

In [83]:
X_test = df2[features]
y_test = df2[target]

In [97]:
print(X_test.shape,y_test.shape)

(62426, 12) (62426, 1)

In [85]:
from sklearn.linear_model import LogisticRegression

In [86]:
logreg = LogisticRegression()

In [87]:
logreg.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [88]:
y_pred = logreg.predict(X_test)

In [89]:
print(y_pred.shape)

(62426,)

In [90]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [91]:
print(confusion_matrix(y_test,y_pred))

[[45323  3367]
 [ 8401  5335]]

In [92]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.84      0.93      0.89     48690
           1       0.61      0.39      0.48     13736

    accuracy                           0.81     62426
   macro avg       0.73      0.66      0.68     62426
weighted avg       0.79      0.81      0.79     62426

In [93]:
y_pred_prob = logreg.predict_proba(X_test)[:,1]

In [94]:
y_pred_prob

array([0.10168919, 0.24224656, 0.21274786, ..., 0.0147073 , 0.49030224,
       0.2983709 ])

In [98]:
df3 = pd.DataFrame()

In [100]:
df3['test'] = y_test

In [101]:
df3['pred'] = y_pred

In [102]:
df3['pred_proba'] = y_pred_prob

In [103]:
df3.head(20)

    test  pred  pred_proba
0      0     0    0.101689
1      0     0    0.242247
2      0     0    0.212748
3      1     0    0.248952
4      0     0    0.162676
5      0     0    0.011745
6      0     0    0.023162
7      1     1    0.657384
8      0     0    0.053556
9      0     0    0.022918
10     0     0    0.054782
11     0     0    0.117886
12     0     0    0.259508
13     0     0    0.153321
14     0     0    0.015423
15     1     0    0.319737
16     1     0    0.344653
17     0     0    0.021871
18     0     0    0.007097
19     0     1    0.907702